.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-navbar {
  background-color: #FFFF99;
}

#service-card {
  background-color: #E1E1A0;
  border: 2px solid grey;
  box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

#service-card:hover {
  cursor: pointer;
  background-color: bisque;
}

.card-container {
  background-color: #87CEEB;
  border-radius: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.main-content {
  /* background-color: bisque; */
}