.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-navbar {
  background-color: #FFFF99;
  text-decoration: none;
  color: black;
}

#service-card {
  background-color: #E1E1A0;
  border: 2px solid grey;
  box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

#service-card:hover {
  cursor: pointer;
}

span {
  color: red;
  font-weight: bolder;
  font-size: x-large;
  white-space: nowrap;
}

.card-container {
  background-color: #87CEEB;
  border-radius: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ticket-info-row {
  background-color: #FFDAB9;
  margin: 0.9rem;
  font-weight: bold;
  font-size: larger;
  padding: 0.6rem;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
}

.card-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  margin-top: 4%;
  margin-right: 4%;
}

@media (max-width: 800px) {
  .ticket-info-row {
    margin: 0.2rem;
    padding: 0rem;
  }

  span {
    font-size: smaller;
  }

  .card-content {
    width: 50%;
    margin-top: 0%;
    margin-right: 4%;
    font-size: smaller;
  }
}

@media (max-width: 900px) {
  .ticket-info-row {
    padding: 0.1rem;
  }

  .card-content {
    width: 50%;
    margin-top: 0%;
    margin-right: 4%;
  }
}